:root {
  --primary-main: #01b5ac;
  --secondary-main: #b2e8e6;
  --tertiary-main: #e9f5fe;
  --default: #ffffff;
  --info-main: #2f80ed;
  --box-shadow-main: 0px 3.5px 40px 0px rgba(0, 0, 0, 0.08);
  --box-shadow-secondary: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
  --box-shadow-tertiary: 0px 1.672566294670105px 5.500884532928467px 0px
      rgba(0, 0, 0, 0.02),
    0px 7.646017551422119px 15.461947441101074px 0px rgba(0, 0, 0, 0.03),
    0px 19.353981018066406px 41.47964859008789px 0px rgba(0, 0, 0, 0.04),
    0px 38.23008728027344px 95.15044403076172px 0px rgba(0, 0, 0, 0.06);
  --emphasis-red: #eb5757;
  --emphasis-red-hover: #fee9e9;
  --title-text: 20px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-main);
  overscroll-behavior: none;
}

#root {
  height: 100%;
}

.content {
  height: 100%;
}

.body-content {
  padding: 88px 19px 45px 19px;
  height: 100%;
}

.main-content {
  flex: 1;
  background-color: var(--default);
  border-radius: 4px;
  width: 100%;
  height: calc(100% - 200px);
  /* overflow-y: hidden; */
  padding-bottom: 50px;
}

.cards-container {
  position: relative;
  transition: opacity 0.3s ease; /* Add a smooth transition for hiding cards */
}

.bottom-bar {
  position: fixed; /* Absolute positioning within the container */
  bottom: 50px; /* Stick to the bottom */
  left: 0; /* Adjust left position if needed */
  right: 0; /* Adjust right position if needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Header.css */
.sidebar {
  position: fixed;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100%;
  background-color: #f0f0f0;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
  padding-top: 25px;
  padding-left: 5px;
}

.sidebar.open {
  left: 0; /* Displayed on the screen */
}

.euiSideNavItem {
  margin-bottom: 0;
  padding: 0;
}

.euiSideNavItemButton {
  border: none;
  padding: 0;
}

.title {
  font-size: var(--title-text);
}

.home-container {
  overflow-y: scroll;
  height: 656px;
}

.info-container {
  padding: 8px 11px 0px 11px;
  margin-bottom: 16px;
}

.dashboard-title-container {
  margin: 21px 0px 19px 18px;
}

.euiCard__title {
  margin: 10px 0; /* Adjust the top and bottom margins as needed */
}

.euiCard__description {
  margin-top: 0px;
}

.euiCard__footer {
  margin-top: 0px; /* Adjust the top margin as needed */
  margin-bottom: 10px; /* Adjust the bottom margin as needed */
}

.euiCheckbox {
  display: flex;
}

.euiCheckbox__label {
  font-weight: normal;
}

.dashboard-container,
.barcode-container,
.specimen-form-container {
  height: calc(100vh - 185px);
  padding-bottom: 100px;
}

.dashboard-container {
  padding: 8px 12px 45px 11px;
}

.cards-container {
  width: 100%;
  display: flex;
}

.custom-card {
  width: 160px;
}

.barcode-container {
  padding: 26px 23px;
}

.specimen-form-container {
  padding: 26px 23px;
  height: 100%;
}

.specimen-form-title-container {
  border-bottom: 1px solid #d3dae6;
  padding-bottom: 5px;
}

.floating-add-button {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 60px;
  right: 35px;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
}

.flex-row {
  display: flex;
  justify-content: space-between;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.custom-eui-pagination {
  display: flex;
}

.custom-eui-pagination button {
  border: none;
  background-color: transparent;
}

.custom-eui-pagination ul {
  margin-left: -40px;
  margin: 0;
  padding: 0;
}

.custom-eui-pagination ul li {
  list-style: none;
}

.custom-eui-pagination .euiPaginationButton {
  text-decoration: none;
}

.custom-eui-pagination .euiTablePagination-rowsPerPageButton button {
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
}





